---
import "@/styles/global.css";
import CarouselPage from "../components/CarouselPage";
import SliderSection from "@/components/SliderSection";
import HomeLayout from "@/layouts/HomeLayout.astro";
---

<HomeLayout>
	<SliderSection client:idle>
		<h1>Hello,World!</h1>
	</SliderSection>
</HomeLayout>
