---
import "@/styles/global.css";
import Layout from "../layouts/Layout.astro";
import CarouselPage from "../components/CarouselPage";
---

<Layout title="Komikr - Tempat Baca Komik">
	<div class="hero-section">
		<CarouselPage client:load />
	</div>
</Layout>
