---

---

<div class="flex flex-col gap-2 mt-4">
	<h2 class="font-medium text-xl">Latest Update</h2>
	<div id="comic-section" class="grid">
		<slot />
	</div>
</div>
<style>
	#comic-section {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: 1rem;
	}
</style>
