---
import { Card, CardContent, CardHeader, CardTitle } from "./ui/card";
---

<aside class="hidden relative flex-1 lg:block">
	<h2 class="text-xl font-medium mb-1">Popular</h2>
	<Card className="h-[80vh]">
		<CardContent className="py-1 px-4">
			<h1>Cek</h1>
		</CardContent>
	</Card>
</aside>
