---
import SliderSectionComponent from "@/components/SliderSection";
---

<SliderSectionComponent title="Popular Comic Update">
	<div class="flex w-max space-x-4 p-2 gap-4">
		<slot />
	</div>
</SliderSectionComponent>
