---
import type { ComicMeta } from "@/models/comic";
import Layout from "./Layout.astro";

export type Props = {
	frontmatter: ComicMeta;
	slug: string;
};

const { frontmatter, slug, ...props } = Astro.props;
---

<Layout title={frontmatter.title}>
	<div class="relative flex gap-4 justify-center">
		<div class="relative flex-[2] overflow-x-hidden">
			<slot />
		</div>
	</div>
</Layout>
