---
import CarouselPage from "@/components/CarouselPage";
import Layout from "./Layout.astro";
import PopularAside from "@/components/PopularAside";
import ComicCard from "@/components/ComicCard.astro";
import SliderSection from "@/components/SliderSection.astro";
import { getCollection } from "astro:content";
import type { ComicMeta } from "@/models/comic";

const comicEntries = await getCollection("comics");
const comics: ComicMeta[] = comicEntries.map(
	(entry: { data: any }) => entry.data as ComicMeta
);
---

<Layout
	title="Komikr - Tempat Baca Komik"
	className="max-w-[1224px] mx-auto md:p-8 p-4 flex flex-1 flex-col gap-4 md:gap-8 ">
	<div class="hero-section">
		<CarouselPage client:load comics={comics} />
		<SliderSection title="Popular Comic Update">
			{
				comics.map((comic: ComicMeta) => {
					return <ComicCard comic={comic} className="max-w-48" />;
				})
			}
		</SliderSection>
	</div>
	<div class="relative flex gap-4 justify-center">
		<div class="relative flex-[2] overflow-x-hidden">
			<slot />
		</div>
		<PopularAside client:idle comics={comics} />
	</div>
</Layout>
